@{
    ViewBag.Title = "Home Page";
}

    <div class="jumbotron">
        <h1>HOTEL.com</h1>
        <p class="lead">Here you can go anywhere you want to go！</p>
        @if (User.Identity.IsAuthenticated)
        {
            <p>Login successfully!</p>
        }
        else
        {
        <p><a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
        <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
        }
    </div>

<div class="row">
    <div class="col-md-6">
        <h2>Recommended destinations</h2>
        <p>
            You can select what you want
        </p>
        <p><a class="btn btn-default" href="/bookings/choose">Book now &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Book history</h2>
        <p>You can check what you have done</p>
        <p><a class="btn btn-default" href="/Bookings">Book list &raquo;</a></p>
    </div>
    
</div>