@{
    ViewBag.Title = "Home Page";
}

<div class="preview">
    <div class="previewsecondLevel">Try it myself</div>
    <p class="a">Hello World</p>
</div>
<div class="preview2">
    <div class="preview2secondLevel">Try it myself with more style element</div>
    <p class="b">Hello World</p>
</div>